@page
@model Final_Project_Food_Service_Aggregator.Pages.DeliveryPartners.DetailsModel

@{
    ViewData["Title"] = "Delivery Partner Details";
}

<div class="container">
    <h1>Delivery Partner Details</h1>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryPartner.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryPartner.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryPartner.ContactNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryPartner.ContactNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryPartner.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryPartner.Email)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.DeliveryPartner.DeliveryPartnerId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>